.app {
  max-width: 710px;
  margin: 0 auto;
  padding: 200px 20px;
  position: relative;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.show-score {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 100px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  margin-top: 50px;
}

.answers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.question span {
  color: #ffd41f;
}

.answer-btn {
  font-size: 20px;
  text-align: left;
  padding: 10px 20px;
  width: 100%;
  border: 2px solid #ffd41f;
  border-radius: 8px;
  background-color: #d9d8e0;
}

.answer-btn:hover {
  border: 2px solid #ffd41f;
  background-color: rgb(217, 216, 224, 0.7);
}

.remove {
  font-size: 2rem;
  border: 2px solid #ffd41f;
  background-color: #d9d8e0;
  border-radius: 8px;
  padding: 5px 10px;
}

.remove:hover {
  font-size: 2.5rem;
  background-color: rgb(217, 216, 224, 0.7);
}

.play {
  margin: 100px auto 0 auto;
}
